---
layout: default
title: home
permalink: '/'
---
<style>
    .hover-primary:hover {
        background: #012d39;
        color: white;
        transition: background-color .1s linear;
    }

    .pointer:hover {
        cursor: pointer !important;
    }
}
</style>

<div style="position: relative;">
    <img class="w-100 vh-50"
         src="/static/img/about.jpg"
         srcset="/static/img/about-mobile-400w.png 400w, /static/img/about-mobile-640w.png 640w, /static/img/about.jpg" />
    <a href="http://www.artscouncil.org.uk">
        <img src="/static/img/arts_council-white.png"
             style="bottom:0px; right:0px; max-height: 10%; position: absolute" />
    </a>
</div>
<div class="bg-light text-dark">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-12"
                style="min-height: 25em">
                <div class="row">
                    <div class="col-md-12">
                        <h1>About us</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-justify">
                            <p>
                                <strong><i>Tambores Livres</i></strong> (Free Drums) is a brand-new
                                Carnival Band celebrating the spirit of Brazilian
                                culture, whilst raising awareness of the social
                                and environmental issues facing Brazil today,
                                it celebrates resistance at a time when
                                protecting indigenous rights, environmental
                                rights and the rights of the vulnerable is
                                becoming more and more important.
                            </p>
                            <p>
                                Seven different Afro-Brazilian musical and
                                cultural groups have joined forces to deliver
                                heartfelt, explosive, cohesive and artistic
                                performances, with music, dance, chants,
                                costumes, banners, placards, movement, and
                                lots of drums.
                            </p>
                            <p>
                                In Brazil, and all around the world, popular
                                culture itself has often been an act of
                                resistance, a forum where traditions are
                                kept alive, where communities stick together
                                and express their art and culture, overcoming
                                many obstacles and difficulties.
                                Together we have the power to stand up to
                                injustice, and protect our planet.
                                Through resistance and education we can
                                initiate change and make a difference.
                            </p>
                            <p class="my-4 font-weight-bold border p-3 shadow-sm">
                                We have lots more planned, from fundraising
                                events to education workshops.
                                Please check back soon to find out more.
                            </p>
                            <p class="my-2">
                                <i>This project is supported by the
                                    <a href="https://www.artscouncil.org.uk/"
                                       target="_blank">
                                        Arts Council National Lottery Project
                                        Grant (ACNLPG)
                                    </a>
                                </i>
                            </p>
                            <a class="btn btn-dark  float-right"
                                    href="/about">
                                Read more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-dark text-light">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-12"
                style="min-height: 25em">
                <div class="row">
                    <div class="col-md-12 title-right">
                        <h1>Heroes</h1>
                    </div>
                </div>
                <div class="row d-flex">
                    <div class="order-2 order-lg-1 col-sm-12 col-md-12 col-lg-8">
                        <div>
                            <div id="textMarielle" class="text-justify">
                                <h4 class="py-2">Marielle Franco</h4>
                                <p>
                                    The second section of the carnival procession will celebrate
                                    the politician and activist Marielle Franco, who was assassinated in 2018,
                                    fighting for justice for the minorities in Rio.
                                    She denounced illegal police force (militia)  activities and was a
                                    supporter of human and LGBTQ rights in Brazil.
                                </p>
                                <p>
                                    For this section of the parade, three maracatu bands are collaboration
                                    to perform as one group. Baque Luar, Baque de Axé and Baque de Ogum
                                    to make a ‘Baque for Marielle’.
                                </p>
                                <p>
                                    At the front of the Baque – the maracatu drum ensemble, leading the song
                                    and celebration will be Baque Luar, which has emerged as  women’s-only
                                    maracatu band specialising in professional stage performances focused on their own compositions.
                                    In the run up to carnival and on the day of the carnival parade, Baque Luar will be working
                                    Thalita Domingues, from Nação do Maracatu Porto Rico and who also leads Maracatu Asé d’Ori,
                                    in Aracaju, Brazil, with Bigato Pereira.
                                </p>
                            </div>
                            <div id="textMestre"
                                 class="text-justify"
                                 style="display: none">
                                <h4 class="py-2">Mestre Moa Do Katende</h4>
                                <p>
                                    <i>"Enquanto houver desigualdade, seremos resistência!<br />
                                     Quando o afoxé tocar na sua vida, quero vê seus olhos cheios de alegria!<br />
                                     Quem vai quebrar a máquina do mal ?!<br />
                                     A felicidade do afoxé é dançar a ouvir o agogô ao som do ijexá.<br />
                                     Vamos dançar com fé é tempo de afoxé !<br />
                                     Voa a mensagem bonita pro mundo saber, devolva em luz aos amigos de Katendê.<br />
                                     Seu espírito de luta vai civilizando.”</i><br />
                                </p>
                                <p class="text-right">
                                    <strong>Mestre Moa Do Katende</strong>
                                </p>
                                <p class="text-justify mt-4">
                                    At the front of the parade Capoeira Marazul will lead a berimbau Orchestra to
                                    celebrate the life of Mestre Moa do Katende, who was stabbed and killed in the run up
                                    to last’s year’s General Election in Brazil, when he expressed his support for a socially progressive candidate. <br />

                                    The Berimbau Orchestra is led by Mestre Joãozinho da Figueira from Marazul, who had a strong relationship
                                    with Mestre Moa  and is being supported by Mestre Nelio of Grove Capoeira.
                                </p>

                            </div>
                            <div id="textCaboclo"
                                 class="text-justify"
                                 style="display: none">
                                <h4 class="py-2">Caboclo de 2 de Julho</h4>
                                <p>
                                    The final section of the Tambores Livres carnival procession will depict
                                    Caboclo 2 de Julho (Caboclo 2nd of July) who is a historical figure believed
                                    to have been the leader of a battalion of indigenous and mixed-race fighters in
                                    Bahia during the war for independence against the Portuguese.
                                    He is celebrated as a symbol of the independence of Bahia, but more than this,
                                    he is commemorated as a symbol to remember the forgotten soldiers,
                                    battalions of indigenous fighters using tribal weapons, the African slaves and free men,
                                    the poor and isolated communities that organised themselves to form the majority
                                    of the troops fighting for liberation.<br />
                                </p>
                                <p>
                                    This section of the parade will be led by Marcos Santana with Tribo Band.
                                </p>
                            </div>
                            <a class="btn btn-light" href="/heroes">Read more</a>
                        </div>

                    </div>
                    <div class="order-1 order-lg-2 col-sm-12 col-md-12 col-lg-4">
                        <div class="p-3 mx-auto my-auto"
                             style="position: relative; height: 350px; width: 350px; cursor: pointer"
                             onclick="showHero()">
                            <img src='/static/img/heroes-dim.png'
                                 class="img-fluid" style="max-height: 320px; position: absolute; right: 0px;"/>
                            <img id="imgMarielle"
                                 class="img-fluid" style="max-height: 320px; position: absolute; right: 0px;"
                                 src='/static/img/marielle.png'/>
                            <img id="imgMestre"
                                 src='/static/img/mestre.png'
                                 class="img-fluid" style=" display: none; max-height: 320px; position: absolute; right: 0px;"/>
                            <img id="imgCaboclo"
                                 src='/static/img/caboclo.png'
                                 class="img-fluid" style="display: none; max-height: 320px; position: absolute; right: 0px;"/>
                            <div style="position: absolute; bottom: 35px; left: 47%;">
                                <small>
                                    <i class="fas fa-dot-circle"
                                       style="cursor: pointer"
                                       onclick="nextHero()"
                                       id="btnMarielle"></i>
                                    <i class="far fa-dot-circle"
                                       style="cursor: pointer"
                                       onclick="nextHero()"
                                       id="btnMestre"></i>
                                    <i class="far fa-dot-circle"
                                       style="cursor: pointer"
                                       onclick="nextHero()"
                                       id="btnCaboclo"></i>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-yellow text-dark" style="position: relative; overflow: hidden;">
    <img src="/static/img/foliage-r.png" style="height: 500px; position: absolute; right: -85px; top: -75px;"/>
    <img src="/static/img/foliage-l.png" style="height: 600px; position: absolute; left: -80px; top: -115px;"/>
    <div class="container py-4" style="min-height: 25em">
        <div class="row">
            <div class="col-md-12 title-right">
                <h1>Upcoming events</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row h-50 mt-4">
                    {% assign today = site.time | date: '%s' %}
                    {% assign counter = 0 %}
                    {% for event in site.data.events %}
                        {% assign event_date = event.date | date: '%s' %}
                        {% if event_date >= today and counter < 3 %}
                            {% assign counter = counter | plus: 1  %}
                            {% include
                            event_card.html
                            title=event.name
                            date=event.date
                            time=event.time
                            location=event.location%}
                        {% endif %}
                    {% endfor %}
                    {% for event in site.data.future-events %}
                    {% include
                    event_card.html
                    title=event.name
                    date=event.date
                    time=event.time
                    location=event.location%}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class='float-right'>
                    <a class="btn btn-dark" href="/events">
                        All the events
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
var heroes = ['Marielle', 'Caboclo', 'Mestre']
var i = -1
function showHero() {
    i = (i + 1) % heroes.length
    $('#img' + heroes[i]).fadeOut(250, () => {$('#img' + heroes[(i + 1) % heroes.length]).fadeIn(250)})
    $('#text' + heroes[i]).fadeOut(250, () => {$('#text' + heroes[(i + 1) % heroes.length]).fadeIn(250)})
    $('#btn' + heroes[i]).removeClass('far').addClass('fas')
    $('#btn' + heroes[i]).siblings().removeClass('fas').addClass('far')
};
$(document).ready(() => {
    setInterval(function(){showHero()}, 20000);
})

</script>
