<footer>
    <div class="border-top">
        <div class="container">
            <div class="row py-4">
                <div class="col-md-4">
                    Tambores Livres<br />
                    <a href="mailto:tamboreslivres@gmail.com">tamboreslivres@gmail.com</a><br />
                    +44 123456789<br />
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <a href="/"
                            style="text-decoration: none">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="/"
                            style="text-decoration: none">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="/"
                            style="text-decoration: none">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 text-right mt-auto">
                    © Giuseppe Papallo 2019
                </div>
            </div>
        </div>
    </div>
</footer>
