<footer>
    <div class="border-top">
        <div class="container">
            <div class="row py-4 d-flex flex-row align-items-center">
                <div class="col-md-4">
                    <a href="mailto:info@tamboreslivres.co.uk"
                       style="color: orange">info@tamboreslivres.co.uk</a><br />
                    © Tambores Livres 2019
                </div>
                <div class="col-md-4">
                    <div class="text-center">
                        <a href="/"
                            style="text-decoration: none">
                            <i class="fab fa-social fa-instagram"></i>
                        </a>
                        <a href="/"
                            style="text-decoration: none">
                            <i class="fab fa-social fa-facebook"></i>
                        </a>
                        <a href="/"
                            style="text-decoration: none">
                            <i class="fab fa-social fa-twitter"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <img class="img-fluid"
                         style="max-height: 100px"
                         src="/static/img/all_logos.png" />
                </div>
            </div>
        </div>
    </div>
</footer>
