/* FontAwesome Icons */
.fa-social {
 padding: 20px;
 font-size: 30px;
 width: 50px;
 text-align: center;
 text-decoration: none;
 -o-transition: .5s;
 -ms-transition: .5s;
 -moz-transition: .5s;
 -webkit-transition: .5s;
 transition: .5s;
 font-size: 18pt !important;
}

.fa-social:hover {
    opacity: 0.7
}

.fa-facebook {
 color: #3B5998;
}

.fa-twitter {
 color: #55ACEE;
}

.fa-instagram {
 color: #e1306c
}

@font-face {
    font-family: Paper;
    src: url('../../static/fonts/Paper.otf') format("opentype");
}

@font-face {
    font-family: ProximaNova;
    font-weight: regular;
    src: url('../../static/fonts/ProximaNova/ProximaNova-Regular.ttf') format("truetype");
}

@font-face {
    font-family: ProximaNova;
    font-weight: bold;
    src: url('../../static/fonts/ProximaNova/ProximaNova-Bold.ttf') format("truetype");
}

@font-face {
    font-family: ProximaNova;
    font-weight: light;
    src: url('../../static/fonts/ProximaNova/ProximaNova-Light.ttf') format("truetype");
}

h1 {
    font-family: Paper;
    font-size: 36pt;
}

h2 {p
    font-family: Paper;
    font-size: 36pt;
}

h3 {
    font-family: Paper;
    font-size: 36pt;
}

h4 {
    font-family: Paper;
    font-size: 36pt;
}

nav {
    font-family: Paper;
    font-size: 18pt
}

a {
    color: $orange !important
}
